#buffettbucket{
  position: relative;
  max-height: 100vh;
  border-color: black;
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
}

.box {width:800px; margin:auto; }
.floatleft2 {float: left; width: 150px; margin:5px; }
